<!DOCTYPE html>
<html>
<head>
    <title>Password Control</title>
    <style>
        a{
            margin-left: 1%;
            color:black;
        }
    </style>
</head>
<body style="background-color: hsl(34, 78%, 97%);color: rgb(65, 65, 65);font-family:Georgia;">
    <h2>
        <a style="text-decoration:none" href="/">Reader Page</a>
        <a href="/password">Editor Page</a>
    </h2>
    <hr />
    <form action="/password_checker">
        <h2>Enter your password</h2>
        <input name="password" type="text">
        <button>Enter</button>
    </form>
    <div style="color:red">{{error}}</div>
    
</body>
</html>